<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chestionar Auto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Chestionar Auto</h1>
    <hr>
    <h2>Save Question</h2>

    <form action="#" th:action="@{/saveQuestion}" th:object="${questions}" method="post">

            <input type="text" th:field="*{quest}" placeholder="Question" class="form-control mb-4 col-15"/>

            <input class="form-check-input sev_check" type="checkbox" name="correctAnswer" value="1"/>
            <input type="text" th:field="*{opt1}" placeholder="Option 1" class="form-control mb-4 col-15"/>

            <input class="form-check-input sev_check" type="checkbox" name="correctAnswer" value="2"/>
            <input type="text" th:field="*{opt2}" placeholder="Option 2" class="form-control mb-4 col-15"/>

            <input class="form-check-input sev_check" type="checkbox" name="correctAnswer" value="3"/>
            <input type="text" th:field="*{opt3}" placeholder="Option 3" class="form-control mb-4 col-15"/>

        <button type="submit" class="btn btn-info col-2"> Save Question</button>

    </form>
    <hr>
    <a th:href = "@{/questions}"> Back to Questions List</a>

</div>
</body>
</html>